<section id="contact" class="section bg-white">
  <div class="container">
    <h2 class="text-4xl text-primary font-bold text-center mb-12" >Get in Touch</h2>
    <div class="max-w-2xl mx-auto">
      <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="space-y-6">
        <div >
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            [(ngModel)]="formData.name"
            class="mt-1 p-4 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary transform transition-all duration-300 hover:scale-[1.02]"
            required
            #name="ngModel"
          >
          <div *ngIf="name.invalid && name.touched" class="text-red-500 text-sm">
            Name is required.
          </div>
        </div>

        <div >
          <input
            type="email"
            id="email"
            placeholder="Email"
            name="email"
            [(ngModel)]="formData.email"
            class="mt-1 p-4 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary transform transition-all duration-300 hover:scale-[1.02]"
            required
            email
            #email="ngModel"
          >
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm">
            Please enter a valid email.
          </div>
        </div>

        <div >
          <textarea
            id="message"
            name="message"
            placeholder="Message"
            [(ngModel)]="formData.message"
            rows="4"
            class="mt-1 p-4 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary transform transition-all duration-300 hover:scale-[1.02]"
            required
            #message="ngModel"
          ></textarea>
          <div *ngIf="message.invalid && message.touched" class="text-red-500 text-sm">
            Message is required.
          </div>
        </div>

        <div class="text-center" >
          <button
            type="submit"
            class="btn-primary transform transition-all duration-300 hover:scale-110"
            [disabled]="contactForm.invalid"
          >
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
