<section id="projects" class="section" @staggerFade>
    <div class="container">
      <h2 class="text-4xl text-primary font-bold text-center mb-12">Featured Projects</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Project Card 1 -->
        <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
          <img src="../../../assets/ecommerse.png" alt="Project 1" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">FastKart Grocery Website</h3>
            <p class="text-gray-600 mb-4">I created a grocery website with a responsive dashboard, offering a seamless and organized shopping experience.
               The platform ensures easy navigation and efficient product management (Html,Css,Bootstrap).
            </p>
            <div class="flex pt-2">
              <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
              <a href="https://random-password76-generator.netlify.app/">Live Demo</a></button>
          </div>
          </div>
        </div>

        <!-- Project Card 2 -->
        <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
          <img src="../../../assets/passwordgenerator.png" alt="Project 2" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">Random Password Generator</h3>
            <p class="text-gray-600 mb-4">This tool generates strong, secure passwords with customizable options for length,
               character types, and symbols. It prioritizes security while being easy to use and adaptable to different needs
               (Angular,TypeScript,Tailwind).
            </p>
            <div class="flex pt-2">
              <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
              <a href="https://random-password76-generator.netlify.app/">Live Demo</a></button>
          </div>
          </div>
        </div>

        <!-- Project Card 3 -->
        <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
          <img src="../../../assets/itcompany.png" alt="Project 3" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">IT Company Website</h3>
            <p class="text-gray-600 mb-4">I created a user-friendly website with a modern layout, showcasing the company’s 
              services and team. The intuitive design ensures easy navigation and an engaging browsing experience
              (Html,Css,Bootstrap).
            </p>
            <div class="flex pt-2">
              <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
              <a href="https://random-password76-generator.netlify.app/">Live Demo</a></button>
          </div>
          </div>
        </div>
                <!-- Project Card 4 -->
        <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
          <img src="../../../assets/school.png" alt="Project 3" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">School Website</h3>
            <p class="text-gray-600 mb-4">I created a website for a school celebrating its 100th anniversary, highlighting its history, academic programs, and events. 
              The site features an elegant design and user-friendly navigation
              (Html,Css,Bootstrap).
            </p>
            <div class="flex pt-2">
              <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
              <a href="https://aquamarine-yeot-bef93f.netlify.app/">Live Demo</a></button>
          </div>
          </div>
        </div>
                <!-- Project Card 5 -->
                <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
                  <img src="../../../assets/hospital.png" alt="Project 3" class="w-full h-48 object-cover">
                  <div class="p-6">
                    <h3 class="text-xl font-bold mb-2">Hospital Website</h3>
                    <p class="text-gray-600 mb-4">I created a hospital website that provides essential information on services, departments,
                       and contact details. The user-friendly design ensures easy navigation for patients and visitors
                       (Html,Css,Bootstrap).
                    </p>
                    <div class="flex pt-2">
                      <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
                      <a href="https://random-password76-generator.netlify.app/">Live Demo</a></button>
                  </div>
                  </div>
                </div>
        
                <!-- Project Card 6 -->
              <div class="project-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-h-[28rem]">
          <img src="../../../assets/piano.jpeg" alt="Project 3" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">Piano</h3>
            <p class="text-gray-600 mb-4">Created a fully functional virtual piano where users can play notes using on-screen keys. The project showcases interactive design and sound integration.
              (Html,Css,JavaScript).</p>

            <div class="flex pt-2">
              <button class="bg-primary text-white px-4 py-1 rounded text-base font-medium">
              <a href="https://random-password76-generator.netlify.app/">Live Demo</a></button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>