<section id="experience" class="section">
  <div class="container">
    <h2 class="text-4xl text-primary font-bold text-center mb-12">Experience</h2>
    <div class="max-w-3xl mx-auto">

       <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">Technical Content Writer Intern</h3>
          <p class="text-gray-600">Sunstone • February 2025 – April 2025</p>
          <p class="mt-2 text-gray-700">
           Worked on creating high-quality technical articles and documentation with a focus on frontend development and web technologies. Conducted thorough research to simplify complex technical topics into clear, accessible content. Collaborated with developers and the editorial team to ensure accuracy, readability, and consistency. Gained experience in technical writing, content structuring, and effectively communicating technical concepts to both technical and non-technical audiences.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">Web Designer & Frontend Developer</h3>
          <p class="text-gray-600">PageupSoft • August 2024 - October 2024</p>
          <p class="mt-2 text-gray-700">
          Gained extensive hands-on experience working on real-world projects as part of a team.
            Worked with HTML, CSS, and Bootstrap to design and develop visually appealing web pages.
            Collaborated closely with team members, applying design principles to meet project goals and deadlines.
            Developed a strong understanding of how to work in a team environment, effectively communicating and
            contributing to project success.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">UI Designer</h3>
          <p class="text-gray-600">CodSoft • May 2024 - June 2024</p>
          <p class="mt-2 text-gray-700">
            Worked on various design projects, developing web pages using HTML, CSS, and Bootstrap.
            Gained valuable experience in applying design principles, focusing on layout, and user interface design.
            Collaborated with the design team to deliver functional and visually appealing websites, ensuring adherence
            to client requirements and deadlines.
            Developed skills in problem-solving and attention to detail while working within a team environment.
          </p>
        </div>
      </div>

     
    </div>
  </div>
</section>