<section id="experience" class="section" @timelineStagger>
  <div class="container">
    <h2 class="text-4xl text-primary font-bold text-center mb-12">Experience</h2>
    <div class="max-w-3xl mx-auto">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">Web Designer</h3>
          <p class="text-gray-600">Respective Organization • August 2024 to November 2024</p>
          <p class="mt-2 text-gray-700">s
          Gained extensive hands-on experience working on real-world projects as part of a team.
            Worked with HTML, CSS, and Bootstrap to design and develop visually appealing web pages.
            Collaborated closely with team members, applying design principles to meet project goals and deadlines.
            Developed a strong understanding of how to work in a team environment, effectively communicating and
            contributing to project success.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">UI Designer & Frontend Developer</h3>
          <p class="text-gray-600">CodSoft • May 2024 - June 2024</p>
          <p class="mt-2 text-gray-700">
            Worked on various design projects, developing web pages using HTML, CSS, and Bootstrap.
            Gained valuable experience in applying design principles, focusing on layout, and user interface design.
            Collaborated with the design team to deliver functional and visually appealing websites, ensuring adherence
            to client requirements and deadlines.
            Developed skills in problem-solving and attention to detail while working within a team environment.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="ml-4 transform transition-all duration-300 hover:translate-x-2">
          <h3 class="text-xl font-bold">Junior UI Designer</h3>
          <p class="text-gray-600">Bharat Intern • september 2023 - October 2023</p>
          <p class="mt-2 text-gray-700">
            Gained hands-on experience in web design, working on various design tasks during the internship.
            Designed and developed web pages using HTML, CSS, and other front-end technologies.
            Collaborated with team members to deliver design solutions that met project requirements and deadlines.
            Enhanced design skills, focusing on layout, typography, and color theory to create visually appealing
            websites.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>