<section class="pt-[150px] pb-[130px] relative overflow-hidden bg-gradient-to-br from-gray-900 via-gray-800 to-black">

  <!-- Main Content -->
  <div class="container mx-auto px-4  flex items-center relative z-10">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <!-- Left Column - Text Content -->
      <div class="text-white space-y-6 md:order-1">
        <h1 class="text-5xl text-primary to-secondary md:text-7xl mb-2 font-bold leading-tight animate-item">
          <div>
            <span class="text-white text-3xl bg-clip-text font-bold ml-2">
              Hello, I'm</span>
          </div>
          <div>Ridhima</div>

          <span class="text-white bg-clip-text bg-gradient-to-r">Sapre </span>
        </h1>

        <p class="text-gray-300 text-lg md:text-xl max-w-lg animate-item">
          I'm a final-year CSE student with hands-on experience in front-end
          development and UI/UX design, passionate about building user-friendly
          digital experiences.
        </p>

        <div class="flex flex-wrap gap-4 animate-item">
          <a href="#projects"
            class="px-6 py-3 bg-primary hover:bg-primary/90 text-white rounded-lg transition-all duration-300 transform hover:scale-105 hover:shadow-lg">
            View Projects
          </a>
          <a href="https://drive.google.com/file/d/1d1QXdoL5PgqnFsUOZWNkXdbBCuJq72Tj/view" target="_blank"
            class="px-6 py-3 border border-white/20 hover:border-primary/50 text-white rounded-lg transition-all duration-300 backdrop-blur-sm hover:bg-white/10">
            Resume 
          </a>
        </div>
      </div>

      <div class="flex justify-center my-4 md:order-2">
        <div class="relative z-10 backdrop-blur-lg bg-white/10 rounded-full p-8 border border-white/20 text-center">
          <img class="rounded-full w-80 h-50 md:w-100 md:h-80 lg:w-120 lg:h-120 xl:w-120 xl:h-120 object-cover"
            src="../../assets/img.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>